.container {
    width: 100%;
    position: fixed;
    height: 1800px;
    background: linear-gradient(62deg, #58200f, #6d1537, rgb(34, 31, 31)0, #145546, #38023d);
      animation: gradient 15s ease infinite; 
      background-size: 400% 400%;
    color: white;
    align-items: center;
    text-align: center;
    padding: 40px auto;
}
.content {
    margin-top: 20px;
}
.fontStyle {
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    animation: move-text 0.75s forwards;
  }
@-webkit-keyframes gradient{
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
       background-position: 0% 50%;
    }
   }
   @keyframes gradient{
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
       background-position: 0% 50%;
    }
   
   }