.app {
  display: inline-block;
  margin: 20px auto;
  padding: 20px;
}

.dialogContainer {
  align-items: "center";
  text-align: "center";
  padding: 25px;
  display: flex;
  margin: 5px auto;
  border-radius: 8px;
}
.alignCenter {
  display: flex;
  margin: 10px auto;
  align-items: center;
  flex-flow: column;
}
.actions {
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.tipography {
  padding: 6px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
  margin-right: 25%;
}
.button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
  margin: 0;
}
